In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_parquet("D:/Data_Files/data_ingestion/final.parquet")

In [3]:
# df

In [4]:
dframe= pd.read_csv('C:/Users/Harsh/Desktop/npcl.5_id_data.csv')

In [5]:
dframe=dframe[['location_id','data.creation_time','data.grid_reading_kwh','data.meter_sr_no',]]

In [6]:
# dframe

In [11]:
df1=df.groupby('location_id')
df2=dframe.groupby('location_id')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117158784 entries, 0 to 117158783
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   location_id       object
 1   creation_time     datetime64[us]
 2   grid_reading_kwh  float64
 3   meter_sr_no       object
dtypes: datetime64[us](1), float64(1), object(2)
memory usage: 3.5+ GB

In [10]:
dframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   location_id            1048575 non-null  int64
 1   data.creation_time     1048575 non-null  object
 2   data.grid_reading_kwh  1048575 non-null  float64
 3   data.meter_sr_no       1048575 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 32.0+ MB

In [ ]:
# Status "P"
combined_df=d_frame[d_frame['data.status']== "P"]

#no consumption
combined_df.loc[combined_df['data.error_reason'] == 'No Consumption', 'data.grid_kwh_unit'] = 0

# null values
if combined_df.isnull().sum().sum()>0:
    combined_df.dropna(inplace=True)

# special character
def special_char():
    special_character_pattern = r'[!@#$%^&*()]'
    rows_with_special_chars = combined_df[combined_df['location_id'].str.contains(special_character_pattern, regex=True)]
    return ( rows_with_special_chars)
if combined_df['location_id'].dtype != 'int64':
    special_char()

#  creation time relabelling 
# combined_df['data.creation_time']=pd.to_datetime(combined_df['data.creation_time'])

# integer conversion
combined_df['data.grid_reading_kwh']=combined_df['data.grid_reading_kwh'].round()

In [ ]:
# df2=d_frame.groupby("location_id")

In [12]:
df.head(1)

    location_id       creation_time  grid_reading_kwh meter_sr_no
0  500000030009 2021-04-30 23:59:59              45.0  DAL0000991

In [21]:
final_lst=[]
for id, datafame in df1:
    df=datafame
    df['creation_time']=pd.to_datetime(df['creation_time'])
    df.set_index(['creation_time'],drop=True, inplace=True)
    
    # dfresample=df[['data.grid_reading_kwh']].resample(rule='1H').max()

    # df['units']=round((df['data.grid_reading_kwh']-df['data.grid_reading_kwh'].shift(1)),2)
    # df.dropna(inplace=True)
    # df = df[df['units'] >= 0]
    df_resample=df[['grid_reading_kwh']].resample(rule='1H').max()
    # df_resample['data.grid_reading_kwh'].interpolate(inplace=True)
    # df_resample['grid_reading']=round(df_resample['data.grid_reading_kwh'])
    # df_resample['unit']=df_resample['grid_reading']-df_resample['grid_reading'].shift(1)
    # df_resample = df_resample[df_resample['unit'] >= 0]
    # df_resample.drop(['data.grid_reading_kwh'],axis=1,inplace=True)
    # print(id)
    

    final_lst.append(df_resample)

final_df = pd.concat(final_lst)

In [17]:
len(final_lst)

941

In [22]:
final_df

                     grid_reading_kwh
creation_time
2023-03-04 14:00:00               5.0
2023-03-04 15:00:00               5.0
2023-03-04 16:00:00               5.0
2023-03-04 17:00:00               5.0
2023-03-04 18:00:00               5.0
...                               ...
2023-10-11 10:00:00             347.0
2023-10-11 11:00:00             347.0
2023-10-11 12:00:00             347.0
2023-10-11 13:00:00             347.0
2023-10-11 14:00:00             347.0

[10030280 rows x 1 columns]

In [18]:
df65=final_lst[0]

In [19]:
df65

                     grid_reading_kwh
creation_time
2023-03-04 14:00:00               5.0
2023-03-04 15:00:00               5.0
2023-03-04 16:00:00               5.0
2023-03-04 17:00:00               5.0
2023-03-04 18:00:00               5.0
...                               ...
2023-10-11 10:00:00             704.0
2023-10-11 11:00:00             704.0
2023-10-11 12:00:00             704.0
2023-10-11 13:00:00             704.0
2023-10-11 14:00:00             704.0

[5305 rows x 1 columns]

In [ ]:
lst=[]
for id, datafame in df2:
    df=datafame
    lst.append(df)
    # Perform operations on each group (group_df) if needed

In [ ]:
df.info()