In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
dframe= pd.read_csv('C:/Users/Harsh/Desktop/npcl.5_id_data.csv')

In [3]:
id=dframe['location_id'].unique()

In [4]:
d_frame=dframe[['data.grid_reading_kwh','data.grid_kwh_unit','data.creation_time','data.status',
'data.meter_sr_no','data.error_reason','data.R_voltage','data.Y_volatge',
'data.B_voltage', 'data.r_current', 'data.y_current','data.b_current','site_id',
'location_id','data.cumm_pf','data.frequency']]

In [63]:
# Status "P"
combined_df=d_frame[d_frame['data.status']== "P"]

# null values
if combined_df.isnull().sum().sum()>0:
    combined_df.dropna(inplace=True)

# special character
def special_char():
    special_character_pattern = r'[!@#$%^&*()]'
    rows_with_special_chars = combined_df[combined_df['location_id'].str.contains(special_character_pattern, regex=True)]
    return ( rows_with_special_chars)
if combined_df['location_id'].dtype != 'int64':
    special_char()

#  creation time relabelling 
# combined_df['data.creation_time']=pd.to_datetime(combined_df['data.creation_time'])

# integer conversion
combined_df['data.grid_reading_kwh']=combined_df['data.grid_reading_kwh'].round()

In [64]:
final_lst=[]
for each_id in id:
    df=combined_df[combined_df['location_id'] == each_id ]
    df['data.creation_time']=pd.to_datetime(df['data.creation_time'])
    df.set_index(['data.creation_time'],drop=True, inplace=True)
    df.loc[df['data.error_reason'] == 'No Consumption', 'data.grid_kwh_unit'] = 0
    df['units']=round((df['data.grid_reading_kwh']-df['data.grid_reading_kwh'].shift(1)),2)
    df.dropna(inplace=True)
    df = df[df['units'] >= 0]

    # resampling
    
    


    final_lst.append(df)

final_df = pd.concat(final_lst)

In [78]:
df=final_lst[4]

In [79]:
df

,data.grid_reading_kwh,data.grid_kwh_unit,data.status,data.meter_sr_no,data.error_reason,data.R_voltage,data.Y_volatge,data.B_voltage,data.r_current,data.y_current,data.b_current,site_id,location_id,data.cumm_pf,data.frequency,units
data.creation_time,,,,,,,,,,,,,,,,
2021-05-01 00:04:01,460.0,0.0,P,DAL0000997,No Consumption,235.8,240.8,226.6,0.52,7.30,7.31,6075bb51153a20.38235471,500000010032,0.99,50.3,0.0
2021-05-01 00:06:06,460.0,0.0,P,DAL0000997,No Consumption,234.4,238.4,228.9,7.79,7.29,1.11,6075bb51153a20.38235471,500000010032,0.99,50.1,0.0
2021-05-01 00:08:12,460.0,0.0,P,DAL0000997,No Consumption,234.4,238.4,228.9,7.79,7.29,1.11,6075bb51153a20.38235471,500000010032,0.99,50.1,0.0
2021-05-01 00:10:17,461.0,1.0,P,DAL0000997,Success,235.9,236.9,227.0,8.08,7.35,7.57,6075bb51153a20.38235471,500000010032,0.99,50.1,1.0
2021-05-01 00:12:21,461.0,0.0,P,DAL0000997,No Consumption,235.9,236.9,227.0,8.08,7.35,7.57,6075bb51153a20.38235471,500000010032,0.99,50.1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-17 23:17:09,21680.0,1.0,P,DAL0000997,Success,234.8,232.3,224.5,7.83,0.04,1.11,6075bb51153a20.38235471,500000010032,1.00,50.1,1.0
2023-08-17 23:26:52,21680.0,0.0,P,DAL0000997,No Consumption,236.7,233.6,224.6,7.78,0.00,0.47,6075bb51153a20.38235471,500000010032,0.99,50.0,0.0
2023-08-17 23:36:34,21681.0,1.0,P,DAL0000997,Success,237.2,233.7,229.9,7.72,0.00,0.72,6075bb51153a20.38235471,500000010032,0.99,50.2,1.0
2023-08-17 23:46:20,21681.0,0.0,P,DAL0000997,No Consumption,237.7,232.7,228.6,7.72,0.00,0.72,6075bb51153a20.38235471,500000010032,0.99,50.1,0.0
2023-08-17 23:56:02,21681.0,0.0,P,DAL0000997,No Consumption,237.8,233.8,229.3,7.69,0.00,7.05,6075bb51153a20.38235471,500000010032,0.99,50.2,0.0

In [80]:
df_min=df[['data.grid_reading_kwh']].resample(rule="1H").min()
df_min

                     data.grid_reading_kwh
data.creation_time
2021-05-01 00:00:00                  460.0
2021-05-01 01:00:00                  463.0
2021-05-01 02:00:00                  467.0
2021-05-01 03:00:00                  470.0
2021-05-01 04:00:00                  473.0
...                                    ...
2023-08-17 19:00:00                21673.0
2023-08-17 20:00:00                21673.0
2023-08-17 21:00:00                21674.0
2023-08-17 22:00:00                21676.0
2023-08-17 23:00:00                21679.0

[20136 rows x 1 columns]

In [81]:
dfresample=df[['data.grid_reading_kwh']].resample(rule='1H').max()
dfresample

                     data.grid_reading_kwh
data.creation_time
2021-05-01 00:00:00                  463.0
2021-05-01 01:00:00                  467.0
2021-05-01 02:00:00                  470.0
2021-05-01 03:00:00                  473.0
2021-05-01 04:00:00                  477.0
...                                    ...
2023-08-17 19:00:00                21673.0
2023-08-17 20:00:00                21674.0
2023-08-17 21:00:00                21676.0
2023-08-17 22:00:00                21679.0
2023-08-17 23:00:00                21681.0

[20136 rows x 1 columns]

In [102]:
dfresample["derived_units"]=dfresample['data.grid_reading_kwh']-dfresample['data.grid_reading_kwh'].shift(1)
dfresample

                     data.grid_reading_kwh  derived_units  units
data.creation_time
2021-05-01 00:00:00                  463.0            NaN    3.0
2021-05-01 01:00:00                  467.0            4.0    4.0
2021-05-01 02:00:00                  470.0            3.0    3.0
2021-05-01 03:00:00                  473.0            3.0    3.0
2021-05-01 04:00:00                  477.0            4.0    4.0
...                                    ...            ...    ...
2023-08-17 19:00:00                21673.0            0.0    0.0
2023-08-17 20:00:00                21674.0            1.0    1.0
2023-08-17 21:00:00                21676.0            2.0    2.0
2023-08-17 22:00:00                21679.0            3.0    3.0
2023-08-17 23:00:00                21681.0            2.0    2.0

[20136 rows x 3 columns]

In [103]:
dfresample.isnull().sum()

data.grid_reading_kwh    163
derived_units            195
units                      0
dtype: int64

In [86]:
dfresample['units']=df_resample['units']

In [87]:
dfresample

                     data.grid_reading_kwh  derived_units  units
data.creation_time
2021-05-01 00:00:00                  463.0            3.0    3.0
2021-05-01 01:00:00                  467.0            4.0    4.0
2021-05-01 02:00:00                  470.0            3.0    3.0
2021-05-01 03:00:00                  473.0            3.0    3.0
2021-05-01 04:00:00                  477.0            4.0    4.0
...                                    ...            ...    ...
2023-08-17 19:00:00                21673.0            0.0    0.0
2023-08-17 20:00:00                21674.0            1.0    1.0
2023-08-17 21:00:00                21676.0            2.0    2.0
2023-08-17 22:00:00                21679.0            3.0    3.0
2023-08-17 23:00:00                21681.0            2.0    2.0

[20136 rows x 3 columns]

In [89]:
indices_with_missing_values = dfresample[dfresample.isnull().any(axis=1)].index

# Display the indices
print(indices_with_missing_values)

DatetimeIndex(['2021-05-24 17:00:00', '2021-05-24 18:00:00',
               '2021-05-24 19:00:00', '2021-05-24 20:00:00',
               '2021-05-24 21:00:00', '2021-05-24 22:00:00',
               '2021-05-24 23:00:00', '2021-05-25 00:00:00',
               '2021-05-25 01:00:00', '2021-05-25 02:00:00',
               ...
               '2023-05-13 22:00:00', '2023-05-15 08:00:00',
               '2023-05-15 09:00:00', '2023-05-15 10:00:00',
               '2023-05-17 09:00:00', '2023-05-17 10:00:00',
               '2023-05-17 11:00:00', '2023-05-17 12:00:00',
               '2023-06-22 16:00:00', '2023-07-13 03:00:00'],
              dtype='datetime64[ns]', name='data.creation_time', length=163, freq=None)

In [91]:
dfresample['2021-05-24 10:00:00':'2021-05-25 12:00:00']

                     data.grid_reading_kwh  derived_units  units
data.creation_time
2021-05-24 10:00:00                 1535.0            0.0    0.0
2021-05-24 11:00:00                 1535.0            0.0    0.0
2021-05-24 12:00:00                 1537.0            1.0    2.0
2021-05-24 13:00:00                 1537.0            0.0    0.0
2021-05-24 14:00:00                 1537.0            0.0    0.0
2021-05-24 15:00:00                 1538.0            1.0    1.0
2021-05-24 16:00:00                 1539.0            1.0    1.0
2021-05-24 17:00:00                    NaN            NaN    0.0
2021-05-24 18:00:00                    NaN            NaN    0.0
2021-05-24 19:00:00                    NaN            NaN    0.0
2021-05-24 20:00:00                    NaN            NaN    0.0
2021-05-24 21:00:00                    NaN            NaN    0.0
2021-05-24 22:00:00                    NaN            NaN    0.0
2021-05-24 23:00:00                    NaN            NaN    0.0
2021-05-25 00:00:00                    NaN            NaN    0.0
2021-05-25 01:00:00                    NaN            NaN    0.0
2021-05-25 02:00:00                    NaN            NaN    0.0
2021-05-25 03:00:00                    NaN            NaN    0.0
2021-05-25 04:00:00                    NaN            NaN    0.0
2021-05-25 05:00:00                    NaN            NaN    0.0
2021-05-25 06:00:00                    NaN            NaN    0.0
2021-05-25 07:00:00                    NaN            NaN    0.0
2021-05-25 08:00:00                    NaN            NaN    0.0
2021-05-25 09:00:00                    NaN            NaN    0.0
2021-05-25 10:00:00                 1563.0            0.0   24.0
2021-05-25 11:00:00                 1564.0            1.0    1.0
2021-05-25 12:00:00                 1565.0            1.0    1.0

In [104]:
dfres=dfresample[['data.grid_reading_kwh']].resample('1H').bfill()

In [105]:
dfres['2021-05-24 10:00:00':'2021-05-25 12:00:00']

                     data.grid_reading_kwh
data.creation_time
2021-05-24 10:00:00                 1535.0
2021-05-24 11:00:00                 1535.0
2021-05-24 12:00:00                 1537.0
2021-05-24 13:00:00                 1537.0
2021-05-24 14:00:00                 1537.0
2021-05-24 15:00:00                 1538.0
2021-05-24 16:00:00                 1539.0
2021-05-24 17:00:00                    NaN
2021-05-24 18:00:00                    NaN
2021-05-24 19:00:00                    NaN
2021-05-24 20:00:00                    NaN
2021-05-24 21:00:00                    NaN
2021-05-24 22:00:00                    NaN
2021-05-24 23:00:00                    NaN
2021-05-25 00:00:00                    NaN
2021-05-25 01:00:00                    NaN
2021-05-25 02:00:00                    NaN
2021-05-25 03:00:00                    NaN
2021-05-25 04:00:00                    NaN
2021-05-25 05:00:00                    NaN
2021-05-25 06:00:00                    NaN
2021-05-25 07:00:00                    NaN
2021-05-25 08:00:00                    NaN
2021-05-25 09:00:00                    NaN
2021-05-25 10:00:00                 1563.0
2021-05-25 11:00:00                 1564.0
2021-05-25 12:00:00                 1565.0

In [ ]:
dfresample=dfresample.resample(rule='1H').agg({'column_name': 'sum', 'another_column': 'mean'})

In [92]:
df['2021-05-24 11:00:00':'2021-05-24 13:00:00']

,data.grid_reading_kwh,data.grid_kwh_unit,data.status,data.meter_sr_no,data.error_reason,data.R_voltage,data.Y_volatge,data.B_voltage,data.r_current,data.y_current,data.b_current,site_id,location_id,data.cumm_pf,data.frequency,units
data.creation_time,,,,,,,,,,,,,,,,
2021-05-24 11:01:39,1535.0,0.0,P,DAL0000997,No Consumption,244.6,243.8,242.5,0.57,0.38,0.34,6075bb51153a20.38235471,500000010032,0.85,50.1,0.0
2021-05-24 11:04:54,1535.0,0.0,P,DAL0000997,No Consumption,245.0,243.6,242.5,0.58,0.62,0.34,6075bb51153a20.38235471,500000010032,0.89,50.2,0.0
2021-05-24 11:08:10,1535.0,0.0,P,DAL0000997,No Consumption,245.7,243.9,240.8,0.69,0.62,0.34,6075bb51153a20.38235471,500000010032,0.91,50.1,0.0
2021-05-24 11:11:24,1535.0,0.0,P,DAL0000997,No Consumption,245.3,243.4,240.8,0.69,0.61,0.09,6075bb51153a20.38235471,500000010032,0.86,50.1,0.0
2021-05-24 11:14:41,1535.0,0.0,P,DAL0000997,No Consumption,245.9,243.5,241.4,0.82,0.61,0.09,6075bb51153a20.38235471,500000010032,0.88,50.1,0.0
2021-05-24 11:17:56,1535.0,0.0,P,DAL0000997,No Consumption,245.1,242.9,241.6,0.84,0.63,0.09,6075bb51153a20.38235471,500000010032,0.88,50.1,0.0
2021-05-24 12:11:42,1536.0,1.0,P,DAL0000997,Success,245.5,243.8,242.3,9.39,0.32,0.48,6075bb51153a20.38235471,500000010032,1.00,50.1,1.0
2021-05-24 12:14:58,1536.0,0.0,P,DAL0000997,No Consumption,247.1,243.6,240.8,1.17,0.31,0.76,6075bb51153a20.38235471,500000010032,0.99,50.1,0.0
2021-05-24 12:18:16,1536.0,0.0,P,DAL0000997,No Consumption,246.7,244.1,241.0,0.64,0.29,0.50,6075bb51153a20.38235471,500000010032,1.00,50.1,0.0
2021-05-24 12:21:29,1536.0,0.0,P,DAL0000997,No Consumption,246.7,244.1,241.0,0.64,0.29,0.50,6075bb51153a20.38235471,500000010032,1.00,50.1,0.0
2021-05-24 12:24:42,1536.0,0.0,P,DAL0000997,No Consumption,246.6,243.2,240.6,0.63,0.39,0.78,6075bb51153a20.38235471,500000010032,0.99,50.0,0.0
2021-05-24 12:27:56,1536.0,0.0,P,DAL0000997,No Consumption,247.1,243.4,242.2,0.58,0.58,1.17,6075bb51153a20.38235471,500000010032,0.98,50.0,0.0
2021-05-24 12:31:12,1536.0,0.0,P,DAL0000997,No Consumption,246.8,242.9,242.2,0.31,0.66,1.17,6075bb51153a20.38235471,500000010032,0.99,50.0,0.0
2021-05-24 12:34:26,1536.0,0.0,P,DAL0000997,No Consumption,247.9,244.7,243.4,0.62,0.48,0.78,6075bb51153a20.38235471,500000010032,0.94,50.1,0.0
2021-05-24 12:37:40,1536.0,0.0,P,DAL0000997,No Consumption,248.3,245.0,243.0,1.25,0.50,7.82,6075bb51153a20.38235471,500000010032,0.98,50.1,0.0
2021-05-24 12:41:03,1536.0,0.0,P,DAL0000997,No Consumption,248.3,244.7,243.7,1.56,0.52,0.77,6075bb51153a20.38235471,500000010032,0.98,50.1,0.0
2021-05-24 12:44:17,1536.0,0.0,P,DAL0000997,No Consumption,248.3,244.7,243.7,1.56,0.52,0.77,6075bb51153a20.38235471,500000010032,0.98,50.1,0.0
2021-05-24 12:47:34,1536.0,0.0,P,DAL0000997,No Consumption,247.8,244.3,243.0,1.23,0.48,0.77,6075bb51153a20.38235471,500000010032,0.97,50.1,0.0
2021-05-24 12:50:48,1536.0,0.0,P,DAL0000997,No Consumption,246.9,244.4,244.0,0.90,0.63,0.77,6075bb51153a20.38235471,500000010032,0.99,50.1,0.0
2021-05-24 12:54:02,1537.0,1.0,P,DAL0000997,Success,246.1,244.8,243.0,1.97,0.83,0.77,6075bb51153a20.38235471,500000010032,0.99,50.1,1.0
2021-05-24 12:57:19,1537.0,0.0,P,DAL0000997,No Consumption,247.7,244.9,243.1,0.72,0.72,0.48,6075bb51153a20.38235471,500000010032,0.92,50.1,0.0

In [67]:
df_resample=df[['units']].resample(rule='1H').sum()

In [69]:
df_resample[df_resample['units']>10]

                     units
data.creation_time
2021-05-25 10:00:00   24.0
2021-05-30 06:00:00   47.0
2022-07-05 15:00:00   32.0
2022-07-08 09:00:00   32.0

In [72]:

df_resample.isnull().sum()

units    0
dtype: int64

In [77]:
df_resample['2021-05-25 01:00:00':'2021-05-25 10:00:00'][0:50]       #'2021-05-30 06:00:00'

                     units
data.creation_time
2021-05-25 01:00:00    0.0
2021-05-25 02:00:00    0.0
2021-05-25 03:00:00    0.0
2021-05-25 04:00:00    0.0
2021-05-25 05:00:00    0.0
2021-05-25 06:00:00    0.0
2021-05-25 07:00:00    0.0
2021-05-25 08:00:00    0.0
2021-05-25 09:00:00    0.0
2021-05-25 10:00:00   24.0

In [83]:
df_resample

                     units
data.creation_time
2021-05-01 00:00:00    3.0
2021-05-01 01:00:00    4.0
2021-05-01 02:00:00    3.0
2021-05-01 03:00:00    3.0
2021-05-01 04:00:00    4.0
...                    ...
2023-08-17 19:00:00    0.0
2023-08-17 20:00:00    1.0
2023-08-17 21:00:00    2.0
2023-08-17 22:00:00    3.0
2023-08-17 23:00:00    2.0

[20136 rows x 1 columns]

In [66]:
df['units'].unique()

array([ 0.,  1., 24.,  5., 47.,  2.,  4.,  3.,  9., 32.,  6.,  8., 10.])

In [48]:
a=df[df['data.grid_kwh_unit'] != df['units']]

In [49]:
a[['data.grid_kwh_unit','units']].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9 entries, 2022-06-21 16:56:13 to 2023-04-01 01:58:39
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   data.grid_kwh_unit  9 non-null      float64
 1   units               9 non-null      float64
dtypes: float64(2)
memory usage: 216.0 bytes

In [50]:
a[['data.grid_kwh_unit','units']]

                     data.grid_kwh_unit  units
data.creation_time
2022-06-21 16:56:13                0.00    1.0
2022-10-01 00:14:08                0.06    1.0
2022-11-01 02:35:50                0.31    1.0
2022-12-04 07:18:06                0.12    1.0
2023-01-01 01:18:38                0.71    1.0
2023-02-01 06:53:06                0.18    1.0
2023-02-18 19:30:04                2.00    3.0
2023-03-01 12:35:55                0.74    1.0
2023-04-01 01:58:39                0.21    1.0

In [35]:
a['data.grid_kwh_unit'][4]

0.03

In [52]:
a['units'].unique()

array([1., 3.])

In [19]:
a['2022-08-31 21:00:37':'2022-09-30 22:10:42']

,data.grid_reading_kwh,data.grid_kwh_unit,data.status,data.meter_sr_no,data.error_reason,data.R_voltage,data.Y_volatge,data.B_voltage,data.r_current,data.y_current,data.b_current,site_id,location_id,data.cumm_pf,data.frequency,units
data.creation_time,,,,,,,,,,,,,,,,
2022-08-31 21:00:37,15573.78,0.78,P,DAL0000997,Success,233.0,228.7,230.0,0.44,0.72,1.17,6075bb51153a20.38235471,500000010032,0.99,50.2,0.78
2022-08-31 21:04:57,15573.82,0.04,P,DAL0000997,Success,233.9,226.1,229.1,0.44,0.76,1.17,6075bb51153a20.38235471,500000010032,0.99,50.1,0.04
2022-08-31 21:09:11,15573.84,0.02,P,DAL0000997,Success,233.9,226.5,229.0,0.44,0.75,0.57,6075bb51153a20.38235471,500000010032,0.98,50.1,0.02
2022-08-31 21:13:34,15573.87,0.03,P,DAL0000997,Success,233.4,228.2,228.5,0.44,0.76,0.96,6075bb51153a20.38235471,500000010032,0.99,50.2,0.03
2022-08-31 21:17:50,15573.90,0.03,P,DAL0000997,Success,231.4,229.3,229.2,0.44,0.74,0.66,6075bb51153a20.38235471,500000010032,0.99,50.1,0.03
2022-08-31 21:22:03,15574.03,0.13,P,DAL0000997,Success,231.8,228.2,227.3,0.44,0.75,8.12,6075bb51153a20.38235471,500000010032,0.99,50.1,0.13
2022-08-31 21:26:20,15574.18,0.15,P,DAL0000997,Success,232.1,228.6,227.0,0.44,0.42,8.08,6075bb51153a20.38235471,500000010032,0.99,50.2,0.15
2022-08-31 21:30:34,15574.32,0.14,P,DAL0000997,Success,232.1,227.4,225.9,0.44,0.75,7.94,6075bb51153a20.38235471,500000010032,0.99,50.2,0.14
2022-08-31 21:34:52,15574.47,0.15,P,DAL0000997,Success,231.8,225.8,225.1,0.44,0.72,8.04,6075bb51153a20.38235471,500000010032,0.99,50.1,0.15
2022-08-31 21:39:08,15574.61,0.14,P,DAL0000997,Success,231.1,224.8,224.4,0.79,0.74,7.94,6075bb51153a20.38235471,500000010032,0.99,50.1,0.14
2022-08-31 21:43:22,15574.76,0.15,P,DAL0000997,Success,231.8,224.4,224.6,0.85,0.75,7.91,6075bb51153a20.38235471,500000010032,0.99,50.2,0.15
2022-08-31 21:47:39,15574.91,0.15,P,DAL0000997,Success,231.3,224.2,223.6,0.84,0.74,7.87,6075bb51153a20.38235471,500000010032,0.99,50.1,0.15
2022-08-31 21:51:56,15575.06,0.15,P,DAL0000997,Success,231.0,225.6,223.8,0.97,0.45,7.89,6075bb51153a20.38235471,500000010032,0.99,50.2,0.15
2022-08-31 21:56:15,15575.26,0.20,P,DAL0000997,Success,231.4,225.4,222.6,7.85,0.45,7.91,6075bb51153a20.38235471,500000010032,0.99,50.1,0.20
2022-08-31 22:00:31,15575.53,0.27,P,DAL0000997,Success,231.3,225.0,222.8,8.63,0.45,8.07,6075bb51153a20.38235471,500000010032,0.99,50.2,0.27
2022-08-31 22:04:48,15575.80,0.27,P,DAL0000997,Success,232.5,225.2,222.9,8.29,0.45,7.97,6075bb51153a20.38235471,500000010032,0.99,50.1,0.27
2022-08-31 22:09:02,15576.07,0.27,P,DAL0000997,Success,230.8,224.8,221.8,8.30,0.44,8.01,6075bb51153a20.38235471,500000010032,0.99,50.1,0.27
2022-08-31 22:13:19,15576.34,0.27,P,DAL0000997,Success,230.0,224.1,223.4,8.22,0.45,7.82,6075bb51153a20.38235471,500000010032,0.99,50.0,0.27
2022-08-31 22:17:33,15576.61,0.27,P,DAL0000997,Success,230.7,221.9,221.3,8.17,0.45,7.58,6075bb51153a20.38235471,500000010032,0.99,50.1,0.27
2022-08-31 22:21:47,15576.87,0.26,P,DAL0000997,Success,227.3,222.7,221.6,8.33,0.65,7.51,6075bb51153a20.38235471,500000010032,0.99,50.0,0.26
2022-08-31 22:26:03,15577.13,0.26,P,DAL0000997,Success,228.9,222.1,218.3,8.17,0.44,7.62,6075bb51153a20.38235471,500000010032,0.99,50.1,0.26
2022-08-31 22:34:37,15577.64,0.26,P,DAL0000997,Success,228.8,221.8,217.6,8.16,0.44,7.64,6075bb51153a20.38235471,500000010032,0.99,50.2,0.26
2022-08-31 22:38:51,15577.90,0.26,P,DAL0000997,Success,228.5,219.4,218.5,8.33,0.45,8.08,6075bb51153a20.38235471,500000010032,0.99,50.1,0.26
2022-08-31 22:43:08,15578.17,0.27,P,DAL0000997,Success,227.9,220.4,215.9,8.16,0.44,8.00,6075bb51153a20.38235471,500000010032,0.99,50.1,0.27
2022-08-31 22:47:30,15578.41,0.24,P,DAL0000997,Success,228.2,220.9,217.8,8.13,0.44,0.47,6075bb51153a20.38235471,500000010032,0.99,50.1,0.24
2022-08-31 22:51:45,15578.59,0.18,P,DAL0000997,Success,228.7,221.4,218.1,8.03,5.96,0.33,6075bb51153a20.38235471,500000010032,0.99,50.1,0.18
2022-08-31 22:56:05,15578.83,0.24,P,DAL0000997,Success,229.0,223.6,215.9,8.13,7.12,0.33,6075bb51153a20.38235471,500000010032,0.99,50.1,0.24
2022-08-31 23:13:02,15579.82,0.24,P,DAL0000997,Success,225.6,223.5,217.9,7.99,7.07,0.03,6075bb51153a20.38235471,500000010032,0.99,50.2,0.24
2022-08-31 23:17:18,15580.06,0.24,P,DAL0000997,Success,227.6,221.4,217.9,7.93,7.12,0.59,6075bb51153a20.38235471,500000010032,0.99,50.2,0.24
2022-08-31 23:21:34,15580.36,0.30,P,DAL0000997,Success,224.6,222.5,217.5,7.93,7.12,7.58,6075bb51153a20.38235471,500000010032,0.99,50.1,0.30
2022-08-31 23:25:48,15580.72,0.36,P,DAL0000997,Success,227.3,223.2,216.6,7.89,7.10,8.16,6075bb51153a20.38235471,500000010032,0.99,50.1,0.36
2022-08-31 23:30:05,15581.09,0.37,P,DAL0000997,Success,227.1,223.9,215.3,7.87,7.08,8.34,6075bb51153a20.38235471,500000010032,0.99,50.2,0.37
2022-08-31 23:34:19,15581.46,0.37,P,DAL0000997,Success,225.5,222.7,216.9,7.95,7.10,8.17,6075bb51153a20.38235471,500000010032,0.99,50.1,0.37
2022-08-31 23:38:36,15581.82,0.36,P,DAL0000997,Success,226.8,220.6,217.5,7.89,7.12,8.05,6075bb51153a20.38235471,500000010032,0.99,50.1,0.36
2022-08-31 23:42:50,15582.23,0.41,P,DAL0000997,Success,227.0,222.3,217.4,7.82,7.12,8.04,6075bb51153a20.38235471,500000010032,0.99,50.2,0.41
2022-08-31 23:47:06,15582.58,0.35,P,DAL0000997,Success,228.0,223.5,217.1,7.83,7.06,8.09,6075bb51153a20.38235471,500000010032,0.99,50.2,0.35
2022-08-31 23:51:22,15582.87,0.29,P,DAL0000997,Success,227.7,223.8,219.5,7.72,6.87,0.63,6075bb51153a20.38235471,500000010032,0.99,50.1,0.29
2022-08-31 23:55:38,15583.11,0.24,P,DAL0000997,Success,228.3,222.2,220.6,7.82,6.97,0.42,6075bb51153a20.38235471,500000010032,0.99,50.2,0.24
2022-09-01 00:16:55,15584.00,0.64,P,DAL0000997,Success,229.7,225.2,223.7,7.66,6.69,0.42,6075bb51153a20.38235471,500000010032,0.99,50.1,0.64
2022-09-30 21:02:41,16347.85,0.85,P,DAL0000997,Success,240.6,236.1,237.9,0.58,0.39,0.57,6075bb51153a20.38235471,500000010032,0.97,50.1,0.85
2022-09-30 21:06:58,16347.88,0.03,P,DAL0000997,Success,241.3,234.5,237.5,0.58,0.45,1.33,6075bb51153a20.38235471,500000010032,0.99,50.1,0.03
2022-09-30 21:11:12,16347.92,0.04,P,DAL0000997,Success,240.2,234.8,236.9,0.58,0.45,0.79,6075bb51153a20.38235471,500000010032,0.97,50.1,0.04
2022-09-30 21:15:29,16347.94,0.02,P,DAL0000997,Success,241.2,235.2,236.5,0.58,0.47,0.79,6075bb51153a20.38235471,500000010032,0.97,50.1,0.02
2022-09-30 21:19:43,16347.97,0.03,P,DAL0000997,Success,239.8,234.1,236.8,0.58,0.45,0.38,6075bb51153a20.38235471,500000010032,0.97,50.1,0.03
2022-09-30 21:24:00,16347.99,0.02,P,DAL0000997,Success,240.6,235.1,236.1,0.58,0.45,0.42,6075bb51153a20.38235471,500000010032,0.97,50.1,0.02
2022-09-30 21:28:17,16348.01,0.02,P,DAL0000997,Success,240.7,235.6,237.1,0.58,0.45,0.52,6075bb51153a20.38235471,500000010032,0.96,50.1,0.02
2022-09-30 21:32:34,16348.04,0.03,P,DAL0000997,Success,239.3,236.5,236.2,0.31,0.83,0.52,6075bb51153a20.38235471,500000010032,0.99,50.2,0.03
2022-09-30 21:36:48,16348.06,0.02,P,DAL0000997,Success,240.2,235.8,235.8,0.39,0.52,0.52,6075bb51153a20.38235471,500000010032,0.99,50.2,0.02
2022-09-30 21:41:01,16348.09,0.03,P,DAL0000997,Success,239.7,235.2,235.8,0.28,0.50,0.52,6075bb51153a20.38235471,500000010032,0.99,50.1,0.03
2022-09-30 21:45:15,16348.11,0.02,P,DAL0000997,Success,240.4,235.6,235.9,0.28,0.50,0.56,6075bb51153a20.38235471,500000010032,0.99,50.2,0.02
2022-09-30 21:49:28,16348.14,0.03,P,DAL0000997,Success,241.5,235.0,236.2,0.77,0.48,0.42,6075bb51153a20.38235471,500000010032,0.99,50.2,0.03
2022-09-30 21:53:45,16348.16,0.02,P,DAL0000997,Success,239.8,234.9,235.7,0.59,0.50,0.65,6075bb51153a20.38235471,500000010032,0.99,50.2,0.02
2022-09-30 21:57:59,16348.19,0.03,P,DAL0000997,Success,240.9,234.8,236.3,0.65,0.48,0.66,6075bb51153a20.38235471,500000010032,0.99,50.2,0.03
2022-09-30 22:02:12,16348.23,0.04,P,DAL0000997,Success,239.5,235.7,236.9,0.79,0.50,0.66,6075bb51153a20.38235471,500000010032,0.99,50.2,0.04
2022-09-30 22:06:25,16348.26,0.03,P,DAL0000997,Success,239.6,235.1,235.9,0.66,0.52,0.66,6075bb51153a20.38235471,500000010032,0.99,50.1,0.03
2022-09-30 22:10:42,16348.29,0.03,P,DAL0000997,Success,239.4,233.2,236.1,0.66,0.52,0.66,6075bb51153a20.38235471,500000010032,0.99,50.1,0.03

In [24]:
a['2022-09-30 23:44:18':'2022-10-01 01:01:22']

,data.grid_reading_kwh,data.grid_kwh_unit,data.status,data.meter_sr_no,data.error_reason,data.R_voltage,data.Y_volatge,data.B_voltage,data.r_current,data.y_current,data.b_current,site_id,location_id,data.cumm_pf,data.frequency,units
data.creation_time,,,,,,,,,,,,,,,,
2022-09-30 23:44:18,16348.86,0.02,P,DAL0000997,Success,240.4,238.6,237.7,0.66,0.44,0.57,6075bb51153a20.38235471,500000010032,0.99,50.0,0.02
2022-09-30 23:48:32,16348.89,0.03,P,DAL0000997,Success,241.2,239.3,235.9,0.81,0.44,0.57,6075bb51153a20.38235471,500000010032,0.99,50.2,0.03
2022-09-30 23:57:08,16348.94,0.05,P,DAL0000997,Success,242.3,239.9,236.3,0.66,0.44,0.34,6075bb51153a20.38235471,500000010032,0.99,50.1,0.05
2022-10-01 00:01:22,16348.00,0.00,P,DAL0000997,No Consumption,242.3,239.9,236.3,0.66,0.44,0.34,6075bb51153a20.38235471,500000010032,0.99,50.1,-0.94
2022-10-01 00:14:08,16349.00,0.06,P,DAL0000997,Success,243.2,238.1,238.1,0.62,0.35,0.39,6075bb51153a20.38235471,500000010032,0.97,50.1,1.00

In [27]:
# a[['units']<0]
a[a['units']<0]

,data.grid_reading_kwh,data.grid_kwh_unit,data.status,data.meter_sr_no,data.error_reason,data.R_voltage,data.Y_volatge,data.B_voltage,data.r_current,data.y_current,data.b_current,site_id,location_id,data.cumm_pf,data.frequency,units
data.creation_time,,,,,,,,,,,,,,,,
2022-10-01 00:01:22,16348.0,0.0,P,DAL0000997,No Consumption,242.3,239.9,236.3,0.66,0.44,0.34,6075bb51153a20.38235471,500000010032,0.99,50.1,-0.94
2022-11-01 00:02:55,16597.0,0.0,P,DAL0000997,No Consumption,254.4,249.0,252.0,0.04,0.29,0.04,6075bb51153a20.38235471,500000010032,0.84,50.2,-0.69
2022-12-01 00:00:50,16758.0,0.0,P,DAL0000997,No Consumption,254.7,252.1,254.8,0.00,0.00,0.00,6075bb51153a20.38235471,500000010032,1.00,50.2,-0.88
2023-01-01 00:15:43,17046.0,0.0,P,DAL0000997,No Consumption,256.5,251.1,253.0,0.09,0.00,0.41,6075bb51153a20.38235471,500000010032,0.99,50.0,-0.29
2023-02-01 00:00:18,17514.0,0.0,P,DAL0000997,No Consumption,255.8,251.7,255.2,0.00,0.01,0.29,6075bb51153a20.38235471,500000010032,0.97,50.2,-0.82
2023-03-01 00:03:55,17697.0,0.0,P,DAL0000997,No Consumption,256.9,253.3,255.3,0.03,0.07,0.14,6075bb51153a20.38235471,500000010032,0.99,50.4,-0.26
2023-04-01 00:06:43,17884.0,0.0,P,DAL0000997,No Consumption,252.1,247.8,249.9,0.03,0.18,0.14,6075bb51153a20.38235471,500000010032,0.86,50.2,-0.79

In [ ]:
df_units=df[['data.grid_kwh_unit','units']]

In [ ]:
df_units.dropna(inplace=True)

In [ ]:
# df_units['2021-05-24 16:00:00':'2021-05-25 12:00:00']

In [ ]:
df

In [ ]:
df[df['data.grid_kwh_unit']>10]

In [ ]:
# df[df['data.grid_kwh_unit','units']['2022-07-06 02:31:49':'2022-07-06 19:51:15']][0:50]

In [ ]:
df=final_lst[0]

In [ ]:
df['2021-08-17 20:00:00':'2021-08-18 02:00:00'][0:50]

In [ ]:
df['units']=df['data.grid_reading_kwh']-df['data.grid_reading_kwh'].shift(1)

In [ ]:
df['2021-08-17 20:00:00':'2021-08-18 02:00:00'][0:50]

In [ ]:
df_min=df[['data.grid_reading_kwh']].resample(rule='1H').min()
df_min

In [ ]:
df_resampled=df[['data.grid_reading_kwh']].resample(rule='1H').max()
df_resampled

In [ ]:
df_resampled['units']=df_resampled['data.grid_reading_kwh']-df_min['data.grid_reading_kwh']
df_resampled