In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
plt.rcParams['figure.figsize']=(20,5)
import plotly.express as px

import warnings
warnings.filterwarnings("ignore")

from statsmodels.tsa.seasonal import seasonal_decompose
from dateutil.parser import parse
import pandas as pd
from statsmodels.tsa.stattools import adfuller
import pyarrow.parquet as pq

In [8]:
df=pd.read_parquet(r"D:\Data_Files\data_ingestion\final.parquet")

In [9]:
df.head(1)

    location_id       creation_time  grid_reading_kwh meter_sr_no
0  500000030009 2021-04-30 23:59:59              45.0  DAL0000991

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117158784 entries, 0 to 117158783
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   location_id       object
 1   creation_time     datetime64[ns]
 2   grid_reading_kwh  float64
 3   meter_sr_no       object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 3.5+ GB

In [11]:
id=df['location_id'].nunique()

In [12]:
df2=df.groupby('location_id')

In [13]:
df2

In [15]:
df1 = df.groupby('location_id')

# Perform some operations on the grouped data (for example, calculate the sum)
df1 = df1.sum()

# Resetting the index to convert it back to a DataFrame
result_df = df1.reset_index()

# Print the result
print(result_df)

      location_id  grid_reading_kwh
0    500000000035        7129280.51
1    500000000126       59099712.23
2    500000000211       29558828.60
3    500000000235       13869775.76
4    500000000426       77731671.00
..            ...               ...
936  500000300810       34284226.00
937  500000330208           5983.00
938  500000400406        8940107.00
939  500000400409       21879220.00
940  500000400810        3032286.00

[941 rows x 2 columns]

In [25]:
df1 = df.groupby('location_id')

In [26]:
df1

In [6]:
for i in df1:
    print(i)
    break

('500000000035',             location_id       creation_time  grid_reading_kwh meter_sr_no
88129240   500000000035 2023-03-04 14:31:22               5.0     9513340
88129973   500000000035 2023-03-04 14:40:38               5.0     9513340
88130726   500000000035 2023-03-04 14:50:23               5.0     9513340
88131443   500000000035 2023-03-04 15:00:08               5.0     9513340
88132211   500000000035 2023-03-04 15:09:56               5.0     9513340
...                 ...                 ...               ...         ...
117152612  500000000035 2023-10-11 13:13:15             704.0     9513340
117154009  500000000035 2023-10-11 13:26:01             704.0     9513340
117155388  500000000035 2023-10-11 13:38:46             704.0     9513340
117156770  500000000035 2023-10-11 13:51:31             704.0     9513340
117158135  500000000035 2023-10-11 14:04:17             704.0     9513340

[24889 rows x 4 columns])

In [7]:
df2=pd.DataFrame(i)

In [ ]:
df2

In [ ]:
lst=[]

for location in id:
    df=dframe[dframe['sensor'] == location ]
    # df['Clock']=pd.to_datetime(df['Clock'])
    df.set_index(['Clock'],inplace=True,drop= True)
    df = df[df.index >= '2022-11-18 00:00:00']
    filtered_df = df[((df['R_Voltage'] == 0) | (df['Y_Voltage'] == 0) | (df['B_Voltage'] == 0)) & 
                     ((df['R_Current'] == 0) | (df['Y_Current'] == 0) | (df['B_Current'] == 0))]
    filtered_df['Kwh'] = 0
    df.loc[filtered_df.index, :] = filtered_df
    df=df[['Kwh']].resample(rule='1H').sum()
    # df['id']=location
    df['Kwh_r']=df['Kwh'].rolling(window=24).mean()
    df.dropna(inplace=True)

    lst.append(df)